
#include "tray.h"

IDD_DEMO DIALOG DISCARDABLE 0, 1, 176, 63
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | WS_MINIMIZEBOX
CAPTION "演示在任务栏放置图标"
FONT 10, "Arial"
BEGIN
    CONTROL "图标文件名", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 16, 15, 38, 8
    EDITTEXT IDC_ICONFILENAME, 64, 13, 56, 12, ES_AUTOHSCROLL
    LTEXT "提示字符串", IDC_STATIC, 16, 38, 50, 8
    EDITTEXT IDC_TIP, 65, 36, 56, 12, ES_AUTOHSCROLL
    CONTROL "放置", IDC_BUTTON_LOAD, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 125, 13, 30, 14
    CONTROL "撤消", IDC_BUTTON_UNLOAD, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 125, 36, 30, 14
END